h1 {
    text-align:center;
    font-size: 50px;
    background: -webkit-linear-gradient(#4752cc, #c19be0);
    -webkit-background-clip: text;
    color: transparent;
}

#board{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top:70px;
}


#headBoard, #footerBoard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.square {
    width: 50px;
    height: 50px;
    border:1px solid #333;
}